bin/
obj/
/packages/
/nuget/
riderModule.iml
/_ReSharper.Caches/

.idea/

.npm-cache/
node_modules/
**/node_modules/
**/ts/dist/
**/ts/node_modules/
**/tests/browser/node_modules/
**/tests/browser/test-results/
**/tests/browser/playwright-report/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
